@import "base.css";
@import "typography.css";
@import "utilities.css";

:where(header.global, main.global, footer.global) {
  justify-content: center;
  padding-inline: var(--size-3);
}

footer.global {
  padding: var(--size-8);
}

header.global {
  padding-block: var(--size-8);

  @media (--md-n-above) {
    & {
      padding-block: var(--size-10);
    }
  }

  @media (--lg-n-above) {
    & {
      padding-block: var(--size-12);
    }
  }
}

.section-apps {
  display: grid;
  gap: var(--size-3);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  text-align: center;

  @media (--md-n-above) {
    & {
      grid-template-columns: repeat(4, 1fr);
      max-width: var(--size-sm);
    }
  }

  @media (--lg-n-above) {
    & {
      grid-template-columns: repeat(6, 1fr);
      max-width: var(--size-md);
    }
  }


  & figure {
    & img {
      margin-block-end: var(--size-2);
    }

    & figcaption {
      font-size: var(--font-size-1);
    }
  }
}